@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        transition-property: color, background-color, border-color;
        transition-duration: 150ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    ::-webkit-scrollbar-track {
        background-color: rgba(236, 253, 245, 0.5);
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgba(110, 231, 183, 0.6);
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: rgba(52, 211, 153, 0.8);
    }

    ::selection {
        background-color: rgb(167, 243, 208);
        color: rgb(6, 78, 59);
    }
}
